<div class="row margin-top-65">
    <h4 class="col-xs-24 yanbal-title padding-left-30">Umbrales de Descarga y Carga</h4>
</div>
<div class="row margin-top-20">
    <div class="col-xs-24">
        <div class="row yanbal-umbrales-menu">
            <div class="row yanbal-grid-container margin-top-10">
                <div class="col-xs-24 padding-0">
                    <div ui-grid="gridOptions" class="yanbal-grid-umbral"></div>
                </div>
            </div>
        </div>
    </div>
</div>